@model LibraryAppCoreWeb.ViewModels.LoanFormViewModel
@{
    ViewData["Title"] = "LoanForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@*@using (Html.BeginForm("SaveNewLoan", "Loans"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.)
    </div>
}*@

